{% extends "index.html" %}
{% block content %}
<h3>DOCUMENTATION</h3>
<p>We are always trying to keep the documentation up-to-date. 
If you find anything outdated, wrong or missing, please do not hesitate to contact us.
</p>

<h4>Tutorials</h4>
<div id="decorate">
<ul class="no-bullets">
	<li><a href="http://eclipsesource.com/blogs/tutorials/getting-started-with-the-emf-client-platform/">Getting started</a></li>
	
		<ul id="decorate" class="no-bullets">
			<li><a href="http://eclipsesource.com/blogs/tutorials/getting-started-with-the-emf-client-platform/#components">Components of ECP</a></li>
			<li><a href="http://eclipsesource.com/blogs/tutorials/getting-started-with-the-emf-client-platform/#explorer">The Explorer</a></li>
			<li><a href="http://eclipsesource.com/blogs/tutorials/getting-started-with-the-emf-client-platform/#editor">The Editor</a></li>
			<li><a href="http://eclipsesource.com/blogs/tutorials/getting-started-with-the-emf-client-platform/#repositoryexplorer">The Repository Explorer</a></li>
			<li><a href="http://eclipsesource.com/blogs/tutorials/getting-started-with-the-emf-client-platform/#custommodel">How to set up ECP</a></li>
		</ul>

	<li><a href="http://eclipsesource.com/blogs/tutorials/tutorialshow-to-customize-the-emf-client-platform">Customizing ECP</a></li>

		<ul id="decorate" class="no-bullets">
			<li><a href="http://eclipsesource.com/blogs/tutorials/tutorialshow-to-customize-the-emf-client-platform/#look">Customize the Look of Model Elements</a></li>
			<li><a href="http://eclipsesource.com/blogs/tutorials/tutorialshow-to-customize-the-emf-client-platform/#validation">Define Model Validation Constraints</a></li>
			<li><a href="http://eclipsesource.com/blogs/tutorials/tutorialshow-to-customize-the-emf-client-platform/#replaceeditor">Replace the default editor</a></li>
		</ul>

</ul>
</div>
{% endblock %}