{% extends "index.html" %}
{% block content %}
<h3>GETTING INVOLVED</h3>
<p>
Everyone is invited to getting involved with the EMF Client project. Before you plan any kind of contribution, it is a good idea to contact the project team.
</p>
<h4>Writing bug reports</h4>
<p>
Please provide a short and concise explanation of the problem, a snippet to reproduce the issue, ideally a JUnit test case that outlines the expected behavior. See the support page for details. You are also invited to enter feature requests.
</p>

<h4>Providing a patch to an existing bug report</h4>
<p>
If you are no committer on the project, please upload your bug report in the bugzilla
</p>

<h4>Contribute documentation</h4>
<p>
If you found something which is not documented yet, please share you knowledge with other users. Please contact us, to find the appropriate place to add your documentation.
</p>
{% endblock %}